<div class="login-container">
    <div class="login-box">
      <h2 class="login-title">Créer un compte</h2>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">Prénom</label>
          <input formControlName="firstName" type="text" id="firstName" placeholder="John" required>
        </div>
  
        <div class="form-group">
          <label for="lastName">Nom</label>
          <input formControlName="lastName" type="text" id="lastName" placeholder="Doe" required>
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input formControlName="email" type="email" id="email" placeholder="you@example.com" required>
        </div>
  
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input formControlName="password" type="password" id="password" placeholder="••••••••" required>
        </div>
  
        <div class="form-group">
          <label for="confirmPassword">Confirmer le mot de passe</label>
          <input formControlName="confirmPassword" type="password" id="confirmPassword" placeholder="••••••••" required>
        </div>
  
        <button type="submit" class="submit-btn">Créer le compte</button>
      </form>
  
      <div *ngIf="messageError" class="error">
        {{ messageError }}
      </div>
  
      <div class="signup-link">
        Vous avez déjà un compte ? <a >Se connecter</a>
      </div>
      
    </div>
  </div>
  